---
const { title, id } = Astro.props;
---

<section id={id}>
    {title && <h2 class='title'>{title}</h2>}

    <slot />
</section>

<style>
    section {
        width: 100%;
        max-width: 1100px;
        margin: 2.5rem auto 0;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .title {
        margin: 0 0 0.75rem;
        font-size: 1.9rem;
        line-height: 1.2;
    }
</style>
